{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}

<style>

	.flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 370px;
	}
	.delete-button {
		border: none;
		color: red;
		outline: none;
	}

	.delete-button:hover {
		transform: scale(1.1);
	}
</style>
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li class="flex">
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }}</h5>
				</div>
			</a>
			<button class="delete-button" data-id={{venue.id}}>
				&cross;
			</button>
		</li>
		{% endfor %}
	</ul>
{% endfor %}


<script>
	let deleteBtn = document.querySelectorAll('.delete-button')

	deleteBtn.forEach((button) => button.addEventListener('click', (event) => {
			event.preventDefault()
			console.log(event)
			venue_id = event.target.dataset['id'];
			fetch('/venues/' + venue_id, {
				method: 'DELETE'
			}).then(() => {
				window.location.assign('/')
			})
	}))
</script>

{% endblock %}